<h1> Apartments </h1>
<%= react_component("MainApp", {
    current_user: current_user,
    signed_in: user_signed_in?,
    sign_in_route: new_user_session_path,
    sign_out_route: destroy_user_session_path
}) %>
